[2013-04-17 12:16] aleksey-kozakov opened #1 "[Improvement] Sortable request list"
It would be great if the request list would be sortable.

[2013-04-17 19:54] aleksey-kozakov opened #2 "[Improvements] Auto-hide URL placeholder."
I believe It would be more user-friendly when user clicks on URL the placeholder 'http://echo.luckymarmot.com' is disappeared.

![Screen Shot 2013-04-17 at 10 53 33 PM](https://f.cloud.github.com/assets/565530/393443/9095925a-a798-11e2-8abf-881efddd4103.png)

[2013-04-21 09:28] aleksey-kozakov opened #3 "[Enhancement] HTTP Codes"
According W3C conventions (http://www.w3.org/Protocols/HTTP/HTRESP.html), a developer can use Error 4xx, 5xx for his own needs.
Now the app just shows the code number and code description 'Client Error'. But there could be another description set by developer. It would be great if Paw shows that text.

[2013-10-15 22:45] jclanoe opened #4 "Some OAuth requests are not working"
I just tried to run an OAuthed HTTP request but my (local) server returned a `401 Unauthorized`.
Then I copied the cURL request (to call the very same server) and it worked.

Any idea? Is it because I explicitly specify a port in my request?

[2013-12-02 15:25] marcodussin opened #5 "url containing url encoded strings"
When i call a url containing a url encoded string, such as

http://svrims.dei.unipd.it:8080/siar/list/md.ns.id=%22http%3A%2F%2Fwww.regione.veneto.it%2Fsiar%2FarchivalDescription%22

it is transformed into

http://svrims.dei.unipd.it:8080/siar/list/md.ns.id=%22http://www.regione.veneto.it/siar/archivalDescription%22

but what can i do if i don't want it?

[2014-01-19 15:09] #5 closed, assigned to nobody

[2014-01-19 15:10] #2 closed, assigned to mittsh

[2014-01-19 15:14] #3 closed, assigned to mittsh

[2014-01-19 15:20] #1 closed, assigned to mittsh

[2014-01-31 04:43] sibljon opened #6 "How do I use "Response Parsed Body" by keypath"
Given the following response:

[code]

how can I get the first item in the array by key path? In effect, this is what I would like to be contained in my PAW variable:

[code]

[2014-03-27 17:23] marcodussin opened #7 "Environment variables made by environment variables"
A suggested enhancement could be the creation of environment variables using environment variables. Now the menu is always empty when i try to do that.

[2014-05-16 03:40] dwolfhub opened #8 "All requests returning "Paw can't get a response. Cannot read proxy PAC file.""
Seems to have started out of the blue. I can copy the curl request into the terminal and I get a response just fine. Let me know if you need further info.

[2014-05-19 03:48] #8 closed, assigned to nobody

[2014-06-18 19:19] Herriau opened #9 "Cannot use "File" macro in the value for an environment variable"
Environment:
- Mac OS 10.10 & Mac OS 10.9
- Paw 2.0.7 (Build 0B2972)

Steps to reproduce:
- File > New
- Requests > Environments > Manage Environnements...
- Click Add Variable button
- Right click in the value field for that newly created variable
- Select File > File Content

Result:
The app crashes with a EXC_CRASH (SIGABRT)

That's the stack of the faulty thread:
0   libsystem_kernel.dylib

[2014-06-28 23:39] harlanhaskins opened #10 "Support JSON POST bodies"
I'd like to be able to construct a JSON post body just like a url-encoded body.

[2014-08-21 23:42] kimar opened #11 "Cookie Handling"
Hi, I'm not sure wether this is still possible, at least I didn't find any obvious possibility for that.
I'm doing a POST request against an api which then returns a cookie. I'd like to persist this cookie for further requests against other endpoints. Currently I've got to manually copy the cookie and paste it into the new request, this is kind of annoying.

Thanks a bunch man!

[2014-08-22 01:31] damienklinnert opened #12 "Support multipart file upload"
Would be nice if this works, but there's no option to pick files in the multipart body screen.

[2014-09-23 14:01] crs48 opened #13 "Optional endpoint annotation"
Paw is great for quickly documenting an API and I'd like to add short notes to each endpoint for further clarity. For example the range of accepted parameters and other little details that may not be obvious in the examples.

[2014-09-27 22:44] kerrishotts opened #14 "Enhanced Parsed Request Body (JSON)"
I've been using PAW to test my API, and it's absolutely fantastic. I've been trying to make it behave closer to how my app would, so rather than hard-code the API paths (say, `/people/2`), the API returns a template href like `/person/{personId}` in the response. I would then love to be able to use this as part of the URL for the next request. (I can, but only if the response doesn't include the t

[2014-09-27 22:48] kerrishotts opened #15 "Parameterized HTTP Verbs"
So I'm trying to build a model in PAW that reacts a bit more like my app does to the API I've built. The API returns a lot of metadata information that should allow the app to follow the API without having to hard-code any HREFs, etc. beyond the discovery point.

One of the return values is the HREF for a certain request, say `get-person-data: { href: "/person/{personID}" }`. Another value is the

[2014-09-27 22:55] kerrishotts opened #16 "Global Dynamic Variables"
I'm not entirely sure that this would be the best name for the feature, but let me explain what I'd like:

I have an API that sends new tokens on each request. The next request to the API must use that token, and it in turn receives another token, and so on.

Right now, I have Paw set up to pull this token from a specific request, but this then couples the requests together -- it'd be nice instead

[2014-10-09 22:02] winowa opened #17 "Feature Request: auto-run dependent requests"
## Justification

When taking advantage of "Copy as Dynamic Value", for API endpoints that require multiple previous calls before they can run successfully (e.g. a `sign-in` call followed by the creation of a parent entity might need to be run before creating a leaf entity). Instead of having to find all of those dependencies manually and run them, it would be nice if Paw had a new option to run a

[2014-10-09 22:36] winowa opened #18 "Hard Hang when changing grouping option"
## Repro Steps
1. Create a hierarchy of ~20-30 requests with group hierarchies 1-2 deep: group/request + group/group/request. _I'd attach my example, but it's proprietary API endpoints_ e.g.
   - group 1
     - request A
     - sub-group 1.1
       - request B
       - request C
   - group 2
   - ...
2. Click the "Group" button at the lower left of the screen: note: it seems that the top-most root

[2014-11-16 21:43] petereddy opened #19 "Cannot read proxy PAC file/System Proxy setting"
I work in an office where it's necessary to use a proxy, so I configure Paw to use the system proxy. That works fine and it works fine when I'm on the company VPN too. When out of the office I may or may not be using a proxy depending on if I'm on the company VPN.

If I'm not at work and not on the VPN, Paw returns the "Cannot read proxy PAC file" error if I forget to switch it's configuration bac

[2014-11-21 01:25] #7 closed, assigned to mittsh

[2014-11-21 01:26] #18 closed, assigned to nobody

[2014-11-21 01:37] #11 closed, assigned to mittsh

[2014-11-21 01:37] #12 closed, assigned to mittsh

[2014-11-21 01:38] #10 closed, assigned to mittsh

[2014-11-21 01:39] #9 closed, assigned to mittsh

[2014-11-21 01:47] #6 closed, assigned to mittsh

[2014-11-21 01:48] #4 closed, assigned to mittsh

[2014-12-05 11:32] silentroach opened #20 "Javascript extensions debug"
Is there something to debug extension?
For example I write dynamic value evaluator and want to write something in extensions log or anywhere else.

Tried to use console.log, but console is undefined :{

[2014-12-05 11:52] silentroach opened #21 "Self-dependency in dynamic evaluator"
I have some API with request signing via request param that calculated with other request params. How can I implement it? Tried to use context.getCurrentRequest().urlEncodedBody but catched a self-dependency error.

[2014-12-07 02:34] #21 closed, assigned to nobody

[2014-12-07 02:57] #20 closed, assigned to nobody

[2014-12-15 09:34] kiliankoe opened #22 "Save the selected environment as well"
Hi Micha,

I'm using the environment in Paw to save the base_url for my requests for different environments. I frequently find myself opening up Paw and then first having to switch the environment. It'd be great if the selected environment were saved in the .paw file as well.

![screen shot 2014-12-15 at 10 22 18](https://cloud.githubusercontent.com/assets/2625584/5433261/dd43f412-8445-11e4-9a02-2

[2015-02-05 18:55] johnpaulmedina opened #23 "API Request"
Prior to the major release you could view the POST or GET request in a much nicer format. Now its all on one line and does not provide the headers and or let you change the format of the view.

[2015-02-20 19:38] watchwithjames commented on #13
Being able to add notes would be great. In my particular case, I would love to have something like a Notes field to the right of the URL Parameter and Value columns in the URL Params tab. So, I could do something like:
URL Parameter: includeTypes
Value: EX
Notes: Valid values are EX, AN, PT, PD, or named event type. Comma separate and concatenate for multiple.

These notes would be useful not only

[2015-03-10 03:13] dwolfhub opened #24 "duplicate a request, then try to change url of the duplicate and both requests change"
osx 10.10.2

[2015-03-25 19:32] ndizazzo commented on #16
Hey @mittsh I'm resurrecting this issue, to sort of piggyback on the line of thought.

Suppose an API returns a token in a response. Would it be possible to pick out a field in that response, and set one of the variables @kerrishotts would have set up in in one of her domains?

This would allow you to authenticate with an API, and get an authorization token back that you can put in subsequent requ

[2015-03-25 19:43] ndizazzo commented on #16
@kerrishotts Did you ever find out how to set the value of a variable when you receive a response?

[2015-03-25 20:46] ndizazzo commented on #16
Nevermind! I figured it out. For those also looking:

1. Make sure you get a successful (20x) response from an endpoint.
2. Go to the response view for the exchange
3. Right click the field (I'm using JSON) name you want as a dynamic value
4. Click 'copy as response body dynamic value'.
5. Paste that into your environment/domain config value column.

[2015-03-28 09:44] mittsh commented on #16
Hey @ndizazzo sorry for getting back late. Happy you figured that out, and thanks for the step-by-step instructions!

You can also go to the environments and in the value field right-click and pick Response > Response parsed body:

![image](https://cloud.githubusercontent.com/assets/1319906/6880541/52179a7c-d537-11e4-9df7-10f077e3d942.png)

And configure the request + path manually:

![image](http

[2015-03-31 23:25] joshuajabbour opened #25 "Allow setting DynamicValueInput default value"
It would be great to be able to set a default value for DynamicValueInput when creating extensions. Maybe as a fourth parameter?

[2015-04-03 20:39] joshuajabbour opened #26 "Add ability to enable/disable URL Params"
The Headers tab has checkboxes for each header, which give you the wonderful ability to enable headers for individual requests on-the-fly. I wish the URL Params tab had the same feature. This way I could create rows for all accepted parameters, but only send the ones I want when testing the actual request (basically it would allow me to create a template for the request).

[2015-04-03 20:46] joshuajabbour opened #27 "Add ability to nest environment variables"
It would be great if environment variables could contain other environment variables. Nested vars would allow for such greater flexibility in setting up environments.

[2015-04-03 20:50] joshuajabbour opened #28 "Allow for more complex environment variables"
I'd really love to be able to set more complex environment variables. Right now, they're just variable strings you have to plug into somewhere. What I'd really love is to be able to toggle (and change) entire headers and URL params via environments. Not just the content, but the actual existence of them.

So I could have an environment that would add an `Origin` header to the request, and another

[2015-04-03 21:03] joshuajabbour commented on #27
This might be a different feature request, but another use would be allowing Dynamic Values inside of Environment Variables. So that I could have an `article_id` variable, and it would dynamically select a value...

[2015-05-13 10:36] mittsh opened #29 "Add request import from Charles"

[2015-05-25 16:34] ndizazzo opened #31 "High CPU usage when editing PAWfile properties"
After the last update:

[code]

I have been experiencing high CPU usage when PAW is in the foreground while editing properties on a PAWfile. I noticed that input was being delayed as I typed it into the address bar, as well as the HTTP Header property list view.

![screen shot 2015-05-25 at 12 27 55 pm](https://cloud.githubusercontent.com/assets/728690/7799874/0eae12e0-02da-11e5-8d0a-1aa65716caae.

[2015-05-25 17:06] ndizazzo commented on #31
Additionally - here's a screen shot of the energy tab:

![screen shot 2015-05-25 at 1 04 22 pm](https://cloud.githubusercontent.com/assets/728690/7800140/c3e32494-02de-11e5-8759-f9f90894f060.png)

[2015-05-26 11:31] mittsh commented on #31
@ndizazzo thanks for reporting this, I'm aware of this bug :( still couldn't exactly reproduce it myself, but I'm working on it. If you have any steps to reproduce this, I'd love to hear more about it. Is it consistently happening? Thanks!

[2015-05-26 15:33] ndizazzo commented on #31
I have a fairly large PAWfile  with many levels of organized API folders. I'm collecting a set of APIs into one PAWfile, one folder per API (so that I can share login tokens across each API).

The group nesting depth is at most 4, but theres about 30 separate API calls in the file, overall.

I created it using the version before the last one released - and upgraded PAW after I had created the file

[2015-05-26 15:39] ndizazzo commented on #31
Thinking about it a little bit more: you would be able to run the app in the profiler and see where the most CPU cycles are being spent if you roll back your development branch to the commit you released 2.2.1 on.

Is there a quick way to clear request and response data out of my PAWfile? I'd want to do that before sending it over. I'll make sure the issue still happens after clearing out that dat

[2015-06-22 13:19] mittsh commented on #31
@ndizazzo Sorry for the late follow-up. We finally found the problem (there was 2 distinct issues actually), and it's now released in Paw 2.2.2 https://luckymarmot.com/paw/updates/2.2.2
Thanks a lot for your detailed feedback. Let us know if Paw 2.2.2 actually fixed your issue.

[2015-06-22 13:19] #31 closed

[2015-06-22 14:04] ndizazzo commented on #31
It's actually still occurring on 2.2.2. It's not nearly as bad - only half the CPU usage compared to before. Get in touch with me via email and I'll send you a PAWfile that might help identify the issue.

[2015-06-22 14:07] mittsh commented on #31
Ugh... that's weird. Can you send us details to support@luckymarmot.com please? Thanks much!

[2015-06-22 17:36] mittsh commented on #26
@joshuajabbour real apologizes for the long delay... enable/disable URL params is really something we want to add for a long long time, and as other features were more prioritized, we still didn't do it, but that's definitively in our minds...

[2015-06-24 07:53] yesmeck opened #32 "Add request import from curl"

[2015-06-26 01:11] mittsh commented on #32
@yesmeck absolutely something we want to add for a while! will push it up in the todo list :)

[2015-07-14 16:26] Hessmjr commented on #25
I'm assuming you mean a default a dynamic user input parameter?  If so then I completely agree it would be nice to have that functionality built into the program.  bump

[2015-07-14 16:29] Hessmjr commented on #26
Very surprising this isn't an option already especially since other values have the ability already.  Would definitely like to see this implemented as well.

[2015-07-14 23:30] hessmjr opened #33 "Receiving 401Unauthorized"
I am receiving 401 Unauthorized errors for requests I make daily on Postman and I can't figure out what the difference is or why.  The only thing I've noticed in the requests I'm making and the original ones I used on Postman are the Host according to Paw is lacking the API token ID and I've tried everything I can to get it to recognize the api token in the Host portion of the request.  Ex:

Postm

[2015-08-19 12:17] MainasuK opened #34 "The menu looks like in the mirror"
I don't know why and when its happened.
After I delete the app, cache files and register the app again.
The BUG still exists.

Why?

How can I fix it?

     https://pbs.twimg.com/media/CMxMHc2UAAAYQe6.png

Thanks

[2015-08-19 14:09] MainasuK commented on #34
OK, I received the tweet and I think you are aware of it.

[2015-08-19 14:09] #34 closed

[2015-09-01 21:55] ckozak commented on #29
+1

[2015-09-07 05:18] windirt opened #35 "variable name gets reversed"
I'm using El Capitan DP 8，I got reversed variable (dynamic value) name.
![aa](https://cloud.githubusercontent.com/assets/6456747/9709695/d3f210da-5562-11e5-81fd-cfec616ff55c.jpg)

[2015-09-07 07:28] mittsh commented on #35
@windirt thanks for reporting it, it's a known issue, a fix will ship today (in a few days for MAS version)

[2015-09-07 07:42] windirt commented on #35
Thank you for the fast response.

[2015-09-07 07:42] #35 closed

[2015-09-14 08:16] windirt opened #36 ""\n" in the dynamic value"
I'm using Paw to calculate a HMAC SHA1 signature, the input text has many `\n` in it.

the input text is:

	PUT\nODBGOERFMDMzQTczRUY3NUE3NzA5QzdFNUYzMDQxNEM=\ntext/html\nThu, 17 Nov 2005 18:49:58 GMT\nx-oss-magic:abracadabra\nx-oss-meta-author:foo@bar.com\n/oss-example/nelson

secretkey is:

	 OtxrzxIsfpFjA7SwPzILwy8Bw21TLhquhboDYROV

the expect value is:

	26NBxoKdsyly4EDv6inkoDft/yA=

I can conf

[2015-09-21 08:35] mittsh commented on #36
@windirt sorry for the delay!!

So yes, it's bug. And no it isn't :) As input fields are interpreted by Paw as directly text, the `\n` isn't seen as a newline character but rather the 2 characters `\` + `n`. Other users had similar issues, so we're going to fix this. In the meantime, what you can do is to replace the `\n` by an actual newline which you can insert by hitting Option + Enter. It will

[2015-10-13 00:11] modest opened #37 "Add syntax highlighting & tree browse support for XML"
For responses, JSON support is fantastic.  XML support is not.  Enough to switch to another product :(  Would love to see some love for XML.

[2015-10-13 09:18] mittsh commented on #37
Yes, we will add syntax highlighting at first! Not sure about tree browse yet but we will keep it in mind.

[2015-10-14 09:29] modest commented on #37
FYI, just XML syntax highlighting would be mostly sufficient for my scenarios – without tree browse – if the text field used "smart" soft wrapping like in Atom, to make it possible to visually follow the tree.

![Soft wrapping in Atom](https://cloud.githubusercontent.com/assets/990299/10479791/39a9563e-721b-11e5-8858-008081b79bef.png)

[2015-10-14 11:32] mittsh commented on #37
@modest absolutely! the challenge is that there is no (good) native OS X library for this, the only way will be to use web-based stuff such as [Ace](https://ace.c9.io/)...

[2015-10-20 19:07] vanvlack opened #38 "Dynamic Value Extensions Only Run Once"
I noticed this today, when trying to run a request while using the [Random UUID Value](https://luckymarmot.com/paw/extensions/RandomUuidValue) and [Chance Dynamic Value](https://luckymarmot.com/paw/extensions/com.atan.ChanceDynamicValue) generators. If you use an extension which generates data multiple times in a request body, the generator is run once globally for the entire request.

Ideally, th

[2015-10-23 11:05] mittsh commented on #38
@vanvlack I see what you mean! this behavior is needed given our current implementation, though we would like to fix it at some point in the future...

In the meantime, what I suggest is that you generate your UUIDs with a JavaScript snippet:

![image](https://cloud.githubusercontent.com/assets/1319906/10691081/b17c9d5c-7986-11e5-8ba7-c5b7cb4f873d.png)

to insert a snippet, right-click and pick Ex

[2015-10-23 11:05] #38 closed

[2015-10-27 22:39] raven commented on #32
+ 1

[2015-11-05 18:53] orclev opened #39 "Better documentation of DynamicValue"
In the documentation of DynamicValue it mentions that the native DynamicValue instances can be used with their identifiers and that the identifiers should be in the documentation, but I have been unable to find any mention of what those identifiers actually are. Additionally, even if the identifiers were provided it also doesn't specify what the required parameters would be for those DynamicValue

[2015-11-18 19:27] Think7 commented on #32
I would pay many much money for this feature...

I spend a lot of time reversing API's and this would be a godsend.

[2015-11-23 15:33] hishnash commented on #36
@windirt All fixed :) in v2.2.6.
We have added a dynamic value that represents the newline or (other escaped sequence).

![image](https://cloud.githubusercontent.com/assets/838127/11340724/a21ba538-91ff-11e5-82af-df97031d459e.png)

![image](https://cloud.githubusercontent.com/assets/838127/11340731/ae554552-91ff-11e5-9e28-1830dc72b522.png)

I will close this know, please let me know if you have an

[2015-11-23 15:36] #36 closed

[2015-11-23 15:39] hishnash commented on #32
@Think7 @raven @yesmeck could you possibly provide a few examples you would like to import. We will try to add an importer for this soon.

[2015-11-23 15:46] hishnash commented on #28
For headers this can be already done, if an environment does not have a value set for a header then the header will not be included in the request. So you can create lots of headers in the environment and just switch envs to include or exclude values.

For URL params this cant be done at the moment. To support URL params would be a far bit of work.

[2015-11-23 19:42] joshuajabbour commented on #28
I'm sure it would be. Unfortunately as it is now, environments just aren't that useful (for me). All of my environments for a single API have the same endpoints (eventually), and they work in the same way. So having to duplicate everything (and keep it in sync) is just too much work.

[2015-11-23 22:22] mittsh commented on #36
Right! It's fixed now. You can also type `\n` preceded by a `{` and it will trigger the completion.

[2015-11-24 13:39] hishnash commented on #28
We have an alternative to this in our pipeline its not quite what your asking for but i wonder if it will help.

We would like to have a form of inheritance. Such that you can for example set headers, body, url params etc  on a group and then all requests within this group would have those headers, (unless you override them or disable them on a request level) We are also consider some degree of ne

[2015-11-25 10:23] minikin commented on #32
@hishnash  for instance

[code]

[2015-11-25 10:43] hishnash commented on #32
@minikin thanks i will try to get a prototype for these basic `curl` options.
Will take a long time to get a curl complete importer, have you seen the man page.

[2015-11-25 10:57] Think7 commented on #32
The basics alone would save me a ton of time. Host, Header, Query Params, Form Data.

I use CharlesProxy to capture requests and then Paw to debug. CP has some build in features but Paw is nicer to use for this. Especially in cases where you need to modify the request manually to test something.

Example:

[code]

[2015-11-25 11:35] raven commented on #32
In exactly the same boat. Also I have come across a lot of documentation that has cURL commands in it. As mentioned, the basics of host, header, params, body. 

Sent from Outlook

    _____________________________
From: Andrew <notifications@github.com>
Sent: Wednesday, November 25, 2015 9:57 PM
Subject: Re: [Paw-Issues] Add request import from curl (#32)
To: luckymarmot/Paw-Issues <paw-issues@nor

[2015-11-26 18:45] hishnash commented on #32
@raven @Think7 @minikin @yesmeck we know have a cURL importer. You can install it from https://luckymarmot.com/paw/extensions/cURLImporter
and for information and what is supported please see:
https://github.com/luckymarmot/Paw-cURLImporter

I will close this issue know if you have any issues with the importer please open issues on the Paw-cURLImporter repository.

[2015-11-26 18:45] #32 closed

[2015-11-27 10:28] hishnash commented on #33
Would it be possible for you to share the file? (postman and or paw)

@Hessmjr we have recently updated out postman importer, it know import Postman environment variables correctly. give this a try if it fixes it.

[2015-11-27 10:30] hishnash commented on #27
@joshuajabbour `Dynamic Values` usable inside environment variables.

[2015-11-27 10:41] hishnash commented on #24
@dwolfhub can you test this again on the latest release 2.2.6 i cant reproduce it

[2015-11-27 10:45] hishnash commented on #22
@kiliankoe sorry about the late reply on this. In paw 2.2.6 the last used environment is persisted.

[2015-11-27 10:45] #22 closed

[2015-11-27 10:48] #16 closed

[2015-11-27 11:27] mittsh commented on #24
@dwolfhub @hishnash I'm very positive that this bug have been fixed a while ago (sorry for the late answer). Closing this issue. @dwolfhub please let us know if this still happens to you...

[2015-11-27 11:27] #24 closed

[2015-11-27 11:28] mittsh commented on #27
@hishnash yes, I think it wasn't the case for a few versions (due to a bug), it's most surely resolved now...

[2015-11-27 11:28] #27 closed

[2015-12-10 20:32] acwright commented on #26
+1

[2015-12-16 19:27] ndizazzo opened #40 "Can't use variable / dynamic value as Number in JSON request body"
I'm trying to define a request that updates fields for objects that have a number ID, and those IDs are returned to me in a prior API response.

I can't use those IDs as response body dynamic values, in the body of another request when I set the variable's type as "Number", but can when I set it as "String".

I understand that there's no indicator to what type the value could be, but can't it be a

[2016-01-08 23:53] mittsh commented on #40
@ndizazzo sorry for the massive delay... unfortunately we don't support number inside of the formatted JSON, and that's because of the way it's handled behind the scenes. Though, it's something we have in our todo list, and that should be added at some point in the future (we have other big updates planned, so I cannot give you a date on this).

As a workaround, you may want to switch to the Text

[2016-02-01 09:03] gbmksquare opened #41 "Change encoding for web response"
I am using Paw to test request for some web pages that are encoded with 'euc-kr'.
Non-english characters appear broken and I can't find an option to change the response encoding so that I can view the response as I would normally on a web browser.

[2016-02-05 10:34] nfgrilo commented on #41
Hi!

Thanks for getting back to us, and sorry about the inconvenience!

I have been trying this with some pages using Korean charset (`euc-kr`), and Paw is rendering them correctly. See [this page](http://www.phpschool.com/gnuboard4/bbs/board.php?bo_table=qna_html&wr_id=125563) for example which correctly returns `Content-Type: text/html; charset=euc-kr`. It could be possible that the server servi

[2016-02-05 13:39] gbmksquare commented on #41
I sent the link via your support page.

At the same time, I found that the page is returning `Content-Type: text/html;charSet=euc-kr`.

Thanks for your support.

[2016-02-05 15:24] nfgrilo commented on #41
Thank you!

I will get back to you from support!

All the best,
Nuno

[2016-02-05 18:15] mittsh commented on #41
For the record, we've just found (and fixed) the bug, it was because your server is setting `charSet` (with an uppercase `S`), while we were parsing it case-sensitive. It's now resolved on our local build, it will ship as part of Paw 2.3 in a week or so...

[2016-02-06 01:21] gbmksquare commented on #41
Thanks! I will wait for the next release.

[2016-02-06 01:21] #41 closed

[2016-02-22 15:44] mittsh opened #42 "Core node modules not available to Custom Extensions"
Thank you in advance for exploring this idea!

---

I use Paw heavily for API development, and love it! I began developing a custom "Dynamic Value" extension to solve some common problems we've encountered when using Paw, however I ran into an issue where the specific core node class I was needing was not available to the extension.

Here's some context to our problem, as well as our proof-of-conc

[2016-02-22 15:45] mittsh commented on #42
Currently PAW uses an embedded JS environment, due to apples' sandboxing we are not be able to execute external code/commands (and all code must be code signed). We have been playing around with the idea of having an external module/service that is not sandboxed. This could then run a fully fledged node env and have full system access. Having this would definitely open many more doors for extensio

[2016-02-23 00:52] mittsh commented on #39
I believe this is now fixed: https://luckymarmot.com/paw/doc/

We now have documentation for all dynamic values available:

* https://luckymarmot.com/paw/doc/dynamic-values/response
* https://luckymarmot.com/paw/doc/dynamic-values/request
* https://luckymarmot.com/paw/doc/dynamic-values/authorization
* https://luckymarmot.com/paw/doc/dynamic-values/cookies
* https://luckymarmot.com/paw/doc/dynamic

[2016-02-23 00:52] #39 closed

[2016-02-28 04:54] Sunspar opened #43 "Paw HTTP Library refuses to connect to Play! routes"
Play! and Paw seem to hate each other, and I'm not too sure why. :(

I'm in the process of experimenting with Play! while getting comfortable with Scala. To that end, I've set up a pretty simple 'hello world' style API with an endpoint or two that just logs a simple message and returns a 200 OK to the caller with the same message.

Both valid, and invalid API endpoints served by Play! are complete

[2016-02-29 22:37] badslug opened #44 "Broken link in docs"
The link to the cURL generator on https://luckymarmot.com/paw/doc/extensions/create-dynamic-value in the "Use es6 and webpack" section is broken (has "we" prepended to the link).

[2016-02-29 23:23] mittsh commented on #44
@badslug thanks a lot for the report! I've just fixed it, we will do a deploy tomorrow.

[2016-03-07 02:01] mittsh commented on #43
@Sunspar just dropping you a line to say thanks for the info and that we aren't forgetting about this! I done myself a few experiments with our HTTP library, and it seems like things are a little weird. I have worked on a fix, making the code better and more reliable.

Do you still have this issue now? Is it happening all the time? Still happening after you restart the app?

Would you mind giving

[2016-04-04 11:43] mittsh commented on #43
@Sunspar we still couldn't reproduce this issue, but we have fixed many things from the HTTP library in the latest version... https://luckymarmot.com/paw/updates/2.3.3
does it fix the issue? thanks!

[2016-04-23 15:07] jevgen commented on #29
+1

[2016-04-25 00:25] mittsh commented on #29
@ckozak @jevgen Reading over this again, I realized that Charles actually already has the ability to export data to HAR format, and Paw has a [HAR Importer](https://luckymarmot.com/paw/extensions/HARImporter). So it shouldn't be hard to export HAR from Charles, and import the dump into Paw.

[2016-05-07 13:25] diegolesli opened #45 "Empty headers not added to request"
Hello.

For some reasons I am connecting to an API which requieres empty HTTP headers in the GET request. Paw only add the header to the request if it has some content, even with a single space. But in that case server validates the content and it is not my application.

Now that he ability to include headers based on the checkbox on the left exists I do think they should be ignored if they are em

[2016-05-09 11:05] mittsh commented on #45
@diegolesli thanks for the feedback! Yes Paw is ignoring empty value headers and adds a warning for it, as we thought so far this is a very unlikely (and potentially illegal behavior), but why not I think you may be right, and if a user explicitly wants to have an empty value header, it should be kept. We will do that in a future version of Paw.

Unfortunately, I do not have a workaround to sugges

[2016-05-10 14:20] mittsh commented on #45
@diegolesli just to keep you updated: we've fixed this on our development branch, this fix will be released as part of Paw 2.3.4 in a few days

[2016-05-31 20:00] #23 closed

[2016-06-07 02:22] andrewhamon opened #46 "Nested Environment Domains"
So a problem I keep running in to is environments that depend on other environments.

For example, I usually have a server domain that has the endpoint info for several different environments (dev, staging, production).

Then I have a user domain with several different users. The problem is, some users exist on some servers but not others. It seems silly to be able to select a user that depends on

[2016-06-07 07:45] mittsh commented on #46
@andrewhamon Thanks for the feedback/input. We are running into a UX & product choice for environments. Many users are confused in the way environments work because of the various domains, they expect a single dropdown to select environments. And on the other side, we know that we can give more power to seasoned users by adding nesting as you suggested.

Btw, the UI for editing environments is goi

[2016-06-27 22:02] MrMaz commented on #26
+1 from me too. This is critical for REST development since doing a `find` or `search` is always supposed to use the GET method.

[2016-07-07 18:52] Isuru-Nanayakkara opened #47 "MessagePack deserialization"
Can you please add deserialization for API responses returned in [MessagePack](http://msgpack.org/) format?

[2016-07-13 17:17] zdrummond commented on #26
@mittsh When do you think we can have this. Super critical for setting up a PAW file to play with an API.

[2016-07-13 17:21] hishnash commented on #26
@zdrummond @MrMaz @acwright @hessmjr Good news I can confirm this is working and ready to come in the next release, we are aiming for end of this month.

The reason this has taken so long is to implement it in a nice stable manner required a significant data model refactoring. luckily in our next release we needed to do this for a major upcoming feature so we were able to sneak this one in on the

[2016-07-19 17:21] zdrummond commented on #26
That is great! I look forward to it

[2016-08-04 17:19] MrMaz commented on #26
Looks good in v3. Thank you! <3

[2016-08-08 13:58] devboxr opened #48 "Joining arrays into comma separated strings"
Hi there,

many APIs return something like this:

[code]

I would like to take those values and create `a,b,c` out of them.

Is that something that is possible?

Also, love the new Paw and suggest my company to buy Paw for Teams!

Keep up the great work!

[2016-08-08 14:14] devboxr commented on #48
Nevermind, just realised I can create a custom function :)
👍

[2016-08-08 14:14] #48 closed

[2016-08-08 17:35] joshuajabbour commented on #26
This now exists in v3. Yay!

[2016-08-08 17:35] #26 closed

[2016-08-18 23:57] #33 closed

[2016-08-27 03:24] drewish commented on #37
Worth noting the XML syntax highlighting has been working for a bit.

[2016-08-29 02:59] drewish opened #49 "Provide Dynamic Value extensions with a way to cache data"
[On twitter I asked](https://twitter.com/drewish/status/769969374719541248):

[The reply](https://twitter.com/luckymarmot/status/769979327719075840) came back:

So sounds like something to look forward to. I figured I'd open an issue here just so everyone else could keep an eye on it.

[2016-08-29 03:10] drewish commented on #25
This can be closed now. The options fourth param is now an object with a `defaultValue`. https://paw.cloud/docs/extensions/input-fields

[2016-08-29 03:15] drewish commented on #14
Does https://github.com/luckymarmot/Paw-SubstringDynamicValue fulfill this?

[2016-08-29 03:34] drewish opened #50 "Make require() compatible with NodeJS"
I found it a bit frustrating that the `require()` function evaluate paths from the extension's root, rather than from module calling it. [The documentation](https://paw.cloud/docs/reference/file-functions) sets an expectation that a call to require should be relative to the calling module (rather than extension):

But when trying to load urijs with:
[code]
It fails trying to load its dependencies:

[2016-08-30 08:46] mittsh commented on #37
Yep! I believe syntax highlighting is here since Paw 2.3 or something. Thanks @drewish! Closing.

[2016-08-30 08:47] mittsh commented on #49
Thanks for opening the issue @drewish 😄
Also related to https://github.com/luckymarmot/Paw-DigestAuthDynamicValue/issues/2

[2016-08-30 08:47] mittsh commented on #25
Correct, thanks! Closing.

[2016-08-30 08:47] #25 closed

[2016-08-30 08:48] mittsh commented on #50
That's right. We will be working on a fix. Thanks for the input @drewish

[2016-08-30 08:50] mittsh commented on #47
That's a great idea! 😄  We will try to add this next.

[2016-08-30 08:57] #44 closed

[2016-08-30 08:57] #45 closed

[2016-08-30 08:58] mittsh commented on #43
@Sunspar Have you been able to reproduce this recently? The latest version of Paw is 3.0.8.

[2016-08-30 08:59] mittsh commented on #29
We have added a doc article about this: [Import Requests from Charles](https://paw.cloud/docs/import/import-charles). Using HAR format it's easy. Closing.

[2016-08-30 08:59] #29 closed

[2016-08-30 09:49] mittsh commented on #14
Yes, the Substring DV + Regexp DV will solve these requirements. Thanks for pointing this out @drewish! Closing.

[2016-08-30 09:49] #14 closed

[2016-08-30 09:49] #37 closed

[2016-08-30 09:51] mittsh commented on #13
Sorry for the late response here. We're planning to add descriptions for fields at some point soon, this will be a nice bridge to documentation!

[2016-10-07 14:05] nsiniakevich opened #51 "Self-dependency error on dynamic value in body with urlEncodedBody"
Hi, this's just a reminder about that issue.
http://stackoverflow.com/questions/32922511/calculating-dynamic-value-from-request-body-parameters-in-paw

As I understand the current solution is to duplicate parameters in headers.

Is there better solution?

[2016-10-07 14:49] mittsh commented on #51
This has been fixed in newer versions of Paw. Sorry for not updating my StackOverflow answer earlier:

It has been fixed in newer versions of Paw. You can simply do like suggested in the question. Right-click and pick Request > Request Parsed Body.

[![Set a reference to another part of the request body in Paw][1]][1]

Add all the references you need, and you'll have the wanted hash:

[![Referenci

[2016-10-07 14:49] #51 closed

[2016-10-07 15:07] nsiniakevich commented on #51
@mittsh I have more complex logic and I have to use extension.

But I've already figure out how to handle it in the code:
replace `request.urlEncodedBody` to `request.getUrlEncodedBody(true)` and work with parameters as `DynamicString`.

Thank you.

[2016-10-07 15:32] mittsh commented on #51
Yep, that's a good way to go 😄

[2016-10-14 23:03] trinode commented on #47
I just found this on google after hoping for the same, It'd be good to use the JSON request build tools, convert to msgpack, make request, receive msgpack, convert to JSON -> display result

[2016-10-15 09:12] mittsh commented on #47
Yep that's the idea @trinode 😄  We're currently planning these features…

[2016-11-09 12:51] ChristianPraiss commented on #17
Hey guys, any news on this one? :)

[2016-11-12 00:56] mittsh commented on #17
No not much progress on this side… though we have the idea, it's a very nice one! I'll push it up for the next version! @ChristianPraiss

[2016-11-25 20:16] wilmoore commented on #17
I love everything about paw so far; except, the fact that "dynamic" values based on an http response behaves in a surprising way. As it is currently, "dynamic" values based on an http request are semi-static in that they are only dynamic as of the last time the request was executed.

This discrepancy means that it is not possible to execute a request that depends on another request (e.g. request a

[2016-12-02 17:25] ChristianPraiss commented on #17
This could also be quite useful for creating realistic load-test scenarios. You could build a chain of requests like it would come from the client and then generate templates for load-testing tools like BlazeMeter. This would combine the comfort of using Paw's awesome UI with the importance of creating tests, as both could be created at the same time. There's a huge potential for saving time and r

[2016-12-21 13:04] maxromanovsky opened #52 "Add support for JsonPath filtering in response"
Details on JsonPath [here](https://github.com/jayway/JsonPath)

[2016-12-22 10:22] mittsh commented on #52
Interesting! Yeah we'd love to add more path filtering options (like `jq`). This one seems interesting, we'll keep it in mind. Thanks!

[2016-12-27 22:45] abh commented on #28
Any progress on the inheritance feature?

[2016-12-28 12:09] hishnash commented on #28
We have had a lot on our plate this has been pushed back at the moment. I would like to see it in the next major release but we will need to see what makes the cut.

[2016-12-28 12:17] hishnash commented on #17
Im closing this as we added send dependent request in the latest release: 3.0.14  press ⇧⌘⏎

[2016-12-28 12:17] #17 closed

[2017-03-23 11:52] carlossless opened #53 "Search in JSON view."
It would be cool if were able to not only search in the raw view of the request, but also in the structured JSON view. Navigating through large responses would become a lot easier.

[2017-03-23 12:21] mittsh commented on #53
That's a good point @carlossless There's a "Filter by Key-Path" field at the bottom, but clearly isn't what you're looking for. I suppose, we could have a mode in which this field would effectively work as a search box.

[2017-04-03 20:26] andrewault commented on #40
Another vote for this one! I keep trying to do this. Doh! Thanks, Andy

[2017-05-03 19:45] NSExceptional opened #54 "Default headers?"
It would be awesome if I could define a group wherein all requests have some shared headers

[2017-06-07 12:32] holgerst opened #55 "Add support for GitHub emojis to request description editor"
It would be nice to be able to add GitHub emojis in request descriptions, such as to include a warning sign in front of TODO items, i.e. `⚠️ Fix this bug!`.

[2017-12-21 20:51] aayers-agrible opened #56 "Filtered list of environment variables based on other environment variables"
One feature that would be very useful for us is the ability to filter a list of environment variables based on another variable, maybe the easiest way to illustrate it is to give a use case.

We have several environments (Production, Develop, Preview), each with their own set of users. We also have sets of test users that are unique to each environment (i.e. test1+dev, test2+dev, test1+prod, test2

[2017-12-27 10:49] trinode commented on #47
Any updates on this? That would be really useful for us?

[2018-01-16 21:28] Flushot opened #57 "GraphQL query support"
It would be nice if I could easily query GraphQL API endpoints in Paw like I can do with [Insomnia](https://insomnia.rest/blog/introducing-graphql/) and [GraphiQL](https://github.com/graphql/graphiql). I'd much rather use Paw than have to switch REST clients for this specific task.

[2018-01-25 11:56] Obbut commented on #40
Any news on this?

[2018-03-21 17:59] Gerst20051 commented on #53
I agree with Roland here: https://stackoverflow.com/questions/36787672/paw-app-filtering-json-in-the-response-panel

Would be nice to be able to type in `jq` to search the json response.

[2018-03-21 18:05] Gerst20051 commented on #53
Similar To: https://github.com/luckymarmot/Paw-Issues/issues/52

[2018-03-21 18:05] Gerst20051 commented on #52
Similar To: https://github.com/luckymarmot/Paw-Issues/issues/53

[2018-03-21 18:06] Gerst20051 commented on #37
Curious what you ended up using to get XML syntax highlighting to work? @mittsh

[2018-03-21 18:09] Gerst20051 commented on #20
Worth noting that this also works when using `console.log` in `JS Script` dynamic values.

[2018-03-31 08:56] valeriomazzeo commented on #40
+1

[2018-04-04 12:47] willejs opened #59 "Paw runner for CI"
It would be nice to run pawfiles in CI against an api.
Postman has a similar tool to do this:
https://github.com/postmanlabs/newman

Any ideas on how this could be supported with paw? Even a node JS runner would be great.

[2018-04-13 02:04] Gregroam opened #60 "Feature Request: Local Environments"
It would be nice to be able to create environments where all the variables are local and don't get synced to the cloud without having to set each value to the special "Local Value" type.

[2018-05-03 07:44] langeland opened #61 "Set InputField choices dynamic"
As fare as I can see it is not possible to set the ´choices´ option on a `InputField` with the type `Select`. Is this possible, or is it something that is in a pipeline ?

I've added a little mockup of what i'am trying to do.

[code]

Thanks /

[2018-05-10 23:05] gabriel-jones commented on #40
It's been quite a while since you said you've been working on this, are you still planning to fix this?

[2018-05-22 14:07] dlo commented on #57
Integrating with the GitHub v4 API right now and having to manipulate the query manually is a little bit of work. Throwing my hat in the ring to request this too. :)

[2018-05-23 08:36] willejs commented on #59
Is the answer to switch to postman?

[2018-05-31 22:16] #59 closed

[2018-06-06 21:26] jamesggraf commented on #57
I would love to see this too. I hate having to switch to GraphiQL

[2018-06-19 13:07] mcornut commented on #40
Up pls.

[2018-06-21 14:17] eegilbert commented on #57
Another Me Too.

[2018-06-22 20:19] alec-c4 commented on #57
+1

[2018-07-05 12:09] Leandros commented on #57
+1

[2018-07-06 00:07] shawnbayer commented on #57
+1

[2018-07-17 12:08] kimochg commented on #57
+1

[2018-07-19 20:56] JohnCoates opened #62 "Paw doesn't handle 204 No Content correctly, hangs"
204 No Content is not handled correctly. Paw hangs, seemingly waiting for a second empty line.

Per RFC:
The 204 response MUST NOT include a message-body, and thus is always
terminated by the first empty line after the header fields.

[2018-07-27 15:45] jordanhamill commented on #57
+1

[2018-07-27 18:08] StummeJ commented on #57
+1

[2018-07-31 17:32] pistelak commented on #57
+1

[2018-08-01 08:33] Vybo commented on #57
+1

[2018-08-01 08:33] sjavora commented on #57
+1

[2018-08-01 08:33] RadimLanger commented on #57
+1

[2018-08-01 12:43] infotrinerdis commented on #57
+1

[2018-08-01 12:43] mullerfrederik commented on #57
+1

[2018-08-10 09:29] martiis commented on #57
+1

[2018-08-16 07:07] sayduck-daniel opened #63 "Paw website down and app down"
What is happening with the software?

Nothing seems to work: The website is down and the app gets blocked on the auth window

[2018-08-22 07:54] depressiveRobot opened #64 "Font -> Default (Cmd+0) resets preferred font settings"
## Expected Behavior

Pressing `⌘`+`0` (View -> Font -> Default) resets the font size according to the preferred font setting.

## Current Behavior

Pressing `⌘`+`0` (View -> Font -> Default) resets not the font size but the preferred font setting to the program default.

## Context (Environment)

Paw version: 3.1.7

[2018-08-28 09:03] KevinHurts commented on #57
+1

[2018-08-30 06:37] najeeb-rifaat commented on #57
+1

[2018-08-30 17:06] natebrunette commented on #40
Even just being able to turn off lines of json text would be huge

[2018-08-31 16:45] travy commented on #57
+1

[2018-09-01 15:45] markgaensicke commented on #57
+1

[2018-09-05 23:47] sthtodo commented on #57
+1

[2018-09-07 21:57] chrisb commented on #57
+1

[2018-09-09 15:31] sibljon commented on #57
+1

[2018-09-10 13:08] DamianLion commented on #57
+1

[2018-09-18 15:05] SeriousSem commented on #57
+1

[2018-09-21 06:04] Cellane commented on #54
@mittsh Is there any progress or ETA on this? I have noticed [mentions on StackOverflow](https://stackoverflow.com/questions/29373096/is-it-possible-to-re-use-headers-in-paw#comment47180138_29473769) by the Paw team from 2015 that this feature is planned/on roadmap but I don’t think it was ever implemented, was it?

[2018-10-01 07:32] NSExceptional commented on #54
:(

[2018-10-08 19:16] sheharyarn commented on #57
FYI: Until Paw implements GraphQL, you should check out [Insomnia](https://insomnia.rest/). They added [GraphQL Support](https://insomnia.rest/graphql/) a while back, and it works pretty well. Much better than _GraphiQL_, at least.

[2018-10-16 03:06] sgleadow opened #65 "Protobuf deserialization"
Similar to [this suggestion around message pack](https://github.com/luckymarmot/Paw-Issues/issues/47), it'd be great to be able to see deserialized protobuf output.

I can do this in Charles, after uploading the protobug `.desc` file so that it knows how to decode it. I love Charles for debugging, but for building up a set of API calls and reproducing it, Paw is better suited.

I thought this migh

[2018-10-31 09:21] ceharris commented on #54
I would really like to see this feature, too. Often, in the scope of a Paw document, I want to include a particular set of headers in _every_ request. Being able to define a group of headers that will be automatically added when a new request is created would save a lot of repeated effort putting the same headers on each request manually. This could work a bit like a sessions and environments, whe

[2018-10-31 09:31] ceharris opened #66 "Default Accept Header Value"
A common use case for [Default Headers](#54) is the setting of the `Accept` header for the request. As an alternative to implementing the more general feature described in #54, simply having the ability to set a default value for the `Accept` header value to be sent in every request would be incredibly helpful.

This could be done as a Preference, with a simple string value.  Or perhaps as a prope

[2018-11-02 23:55] joelgetaction commented on #57
Any word?

[2018-11-13 09:59] cip22 commented on #57
+1

[2018-11-28 06:08] larryonoff commented on #57
+1

[2018-12-03 16:05] anonrig commented on #57
Any news from the Paw team about this?

[2018-12-30 10:30] maxromanovsky commented on #57
Everybody hates receiving email notification with `+1` from GH issue, but here you go: `+1` :)

[2019-01-08 06:36] techprimate-phil commented on #57
+1

[2019-01-08 07:43] zhuzhichao commented on #57
[https://github.com/imolorhe/altair]   is a better tool for GraphQL now.

[2019-01-10 10:09] emil-nasso commented on #57
I find that insomnia is pretty decent for this. I need a graphql-capable client so I have started migrating from paw to insomnia for my REST-stuff too.

Can recommend insomnia. It's pretty nice. I like to have a native desktop app for my http-client, not an browser extension.

[2019-01-10 10:53] techprimate-phil commented on #57
Insomnia is pretty good piece of software, but I am missing the option `Response Body Dynamic Value` you can use in Paw

[2019-01-11 03:05] stedwick commented on #57
Switched to insomnia for now

[2019-01-25 23:40] samgranieri commented on #57
I love working with Paw, and I’d like to consolidate my GQL work in the same app I use for REST api development.

[2019-02-01 15:40] ehausen opened #67 "JSON view very slow with high CPU usage"
When I use the JSON view (for a response for example) with a larger json response Paw freezes for sometimes over 10 seconds and the CPU usage might go over 90 %.

I do have a older laptop, Macbook pro from 2010, but I would expect some JSON tree handling be quite operation. Now the app freezes every time I switch to a tab that has JSON response open. If I choose text, for example, everything is fi

[2019-02-08 17:13] bukhalo commented on #57
one year has passed

[2019-02-08 18:02] joelgetaction commented on #57
Try tweeting them on Twitter since they don’t seem to respond here:

http://twitter.com/luckymarmot

[2019-02-09 15:18] joshhopkins commented on #57
Very much needed. There a bunch of decent electron apps out there, but none provide the stability and small footprint of Paw.

[2019-02-12 23:58] bkmu commented on #40
@mittsh et al. Now that we've clicked over to 2019 any updates with respect to a timeline for getting this nagging issue folded into an update?

[2019-02-19 23:18] sayduck-daniel commented on #57
It would be great to handle subscriptions as well. GraphiQL Electron app is nice but does not support it sadly.

[2019-02-20 20:05] imolorhe commented on #57
@sayduck-daniel @joshhopkins  [Altair](https://altair.sirmuel.design/) does.

[2019-02-20 20:40] joshhopkins commented on #57
@imolorhe Altair is nice, but I'd prefer to use the same HTTP client for both gql and rest. Plus my machine doesn't need yet another node process running electron.

[2019-02-20 20:42] imolorhe commented on #57
@joshhopkins Yeah true, I understand. You could also use the browser extensions Altair provides though.

[2019-03-12 14:34] joshhopkins opened #68 "Websocket support"
Any plans on websocket support?

[2019-03-22 16:54] wmai commented on #57
+ 1

[2019-03-26 10:38] sayduck-daniel commented on #68
and graphql subscriptions as well (based on websocket)

[2019-03-26 10:42] sayduck-daniel commented on #57
Yes but let's be honest, Altair does 1% of what Paw does, Paw is way more stable and future proof than Altair.

I already pay for Paw, so if it could be compatible with all kinds of APIs, I wouldn't use other tools for that.

[2019-03-29 16:19] ethantang93 commented on #67
same here. I have a 2013 macbook pro and paw version 3.1.8 from Setapp. hangs all the time for no reason... I have reverted to 3.1.7 and everything works fine. Maybe give it a try

[2019-04-29 12:07] marcfielding1 commented on #68
Yeah I'd definitely use websocket and graphql support, most of our API's are on Lambda and we use web sockets quite a bit with mobile apps.

[2019-04-29 12:09] joshhopkins commented on #68
@sayduck-daniel here's the [graphq issue](https://github.com/luckymarmot/Paw-Issues/issues/57)

[2019-05-06 09:06] #63 closed

[2019-05-10 12:25] eivindml commented on #57
Would really like to see this as well.

[2019-06-05 17:45] dcypherthis commented on #57
another upvote 👍

[2019-06-07 22:30] bad884 commented on #57
Please please add this... and soonish

[2019-06-14 13:28] JackStasevich opened #69 "Autoupdate dynamic values via groups"
I have several groups of variables. One of groups has two environments. One of my requests use url from this two-environments group. Another request use dynamic value from response of first request. When I switch between environments and make second request it use dynamic value from first request for old environment. And I need do first request manually for this reason. Can paw automatically go th

[2019-06-21 08:55] mishaker opened #70 "Request time profiling"
It would be nice to have time between request and response. comes handy when you are optimizing an API

[2019-06-21 09:02] mishaker opened #71 "Paw separates URL and get parameters."
That makes copy pasting the URL a pain (it is possible to copy the URL on the lower window though but it is not easy).

A copy icon in front of the URL would be great.

[2019-06-21 22:03] Tyncture commented on #57
Highly interested in this too.

[2019-07-02 08:05] klh opened #72 "graphql"

[2019-07-11 03:55] ruslaniv commented on #57
I would like this feature too! But here's [**2 year old tweet**](https://twitter.com/luckymarmot/status/895222031146520576) requesting this very feature and it is still not implemented. So I guess it's about time to switch clients.

[2019-07-11 18:58] mikeyaa commented on #57
Any update on this feature? Getting embarrassing that PAW doesn't support GraphQL

[2019-07-15 10:34] jakubczaplicki commented on #57
Meanwhile.. Postman has very nice support for GraphQL..

[2019-07-15 16:12] StummeJ commented on #57
So does the opensource Insomnia rest client...

[2019-07-17 20:37] hugo082 commented on #57
+1

[2019-07-23 16:02] Croverit opened #73 "Paw for windows"
I know this is not an issue. And I know this is not a feature that can be added in a month or so. But having the best mac API tool to be extended to Windows OS would be a great thing that would change the world. Literally.

[2019-07-26 21:21] williamsthing commented on #57
+1

[2019-07-28 07:07] Jax0rz commented on #57
+1

[2019-08-20 01:55] zhuzhichao commented on #57
+1

[2019-08-25 22:47] gordonk commented on #57
Well past time we had this. +1

[2019-09-04 09:58] calbertts commented on #57
+1

[2019-09-04 13:52] glaurent commented on #57
+1

[2019-09-13 13:12] davizucon commented on #57
+1

[2019-09-13 20:39] austinmills commented on #57
+1

[2019-09-15 09:44] eivindml opened #74 "iCloud Sync?"
Would love to see support for iCloud Drive syncing of Paw projects. :)

[2019-09-19 21:23] El-Fitz opened #75 "Dynamic Values from dependent requests"
After reading the [dependent requests feature request](https://github.com/luckymarmot/Paw-Issues/issues/17#issue-45423349), I tried out the feature and have come to an issue.

If my first request has dynamic properties (such as from the UUID extension), then referencing these properties in a second request will generate a new value each and every time any of the two requests is run.

Is there a wa

[2019-09-26 11:49] d8vjork commented on #57
Another one waiting for this, I won't pay a license unless I've this (I already use Postman which have a decent integration with almost all the API kinds)

[2019-09-26 12:42] bukhalo commented on #72
Duplicate of https://github.com/luckymarmot/Paw-Issues/issues/57

[2019-09-27 12:49] moeffju opened #76 "Paw custom proxy does not work with HTTP proxy with auth"
Paw Custom Proxy with username/password does not seem to work.

I have a Fixie HTTP Proxy that requires HTTP Basic Authentication, like http://fixie:password@olympic.usefixie.com:80 - this works fine as the HTTP_PROXY for cURL, lynx, Ruby Net::HTTP etc.

When I choose [Custom Proxy Configuration] and tick the boxes for HTTP & HTTPS server and make a request, I get “Paw Can’t Find the Server”. It s

[2019-10-01 12:27] hristaki commented on #57
Do we have an official comment for this feature request from the developers?
The issue is created on 16th Jan 2018

[2019-10-01 14:46] d8vjork commented on #57
@hristaki

https://twitter.com/luckymarmot/status/1174055485378650112

[2019-10-01 14:51] joshhopkins commented on #57
Good to see LuckyMarmot are still alive. How difficult would it be to update this issue.

[2019-10-01 14:54] d8vjork commented on #57
Seems like nobody is checking their Github though (better support on Twitter)

[2019-10-01 16:34] joshhopkins commented on #57
@d8vjork seems that way. Why have this public repo then 🤔

[2019-10-03 01:45] DanielGibbsNZ commented on #67
I'm using Paw 3.1.8 from Setapp as well and experiencing the same issue. Is there an easy way to downgrade using Setapp?

[2019-10-31 15:53] CharlieBreval commented on #57
+1 we absolutly need it

[2019-10-31 17:57] davizucon commented on #57
+1

[2019-11-17 20:14] fordnox commented on #57
+1

[2019-11-18 11:42] Di9 commented on #65
Lost my hopes :(

[2019-11-29 17:51] seanhealy commented on #57
Looking like it might be close here… Can't wait!

https://twitter.com/luckymarmot/status/1192433987177918465

[2019-11-30 17:47] dhguswns23 opened #77 "Set environment after response"
I have three authentication requests with a different permission level. After each request, I want to set a token (which is given by each auth response) to an environment variable. So that I can reuse that token for other request with a different permission level.

Or any suggestions to achieve above issue?

[2019-12-05 07:37] josefeg commented on #40
I don't like to pollute Github issues with thumbs ups and update requests, however this is clearly a bug with has been opened since 2015 and received no attention!

The workaround posted doesn't really work because as soon as you try to switch back to JSON view, you get the:

error message. Paw is something that we pay for. As of December 2019, it's [not able to import OpenAPI 3.0 definitions](htt

[2019-12-12 13:30] zhuzhichao commented on #57
![image](https://user-images.githubusercontent.com/3017759/70715985-62192800-1d26-11ea-9ebd-c03d9756d01e.png)

Today is 12.12, it means Paw for GraphQL is coming ?

[2019-12-19 21:08] oshalygin commented on #57
Its `12.19`

I reached out to beta test but there has been no response.  My guess is maybe sometime next year instead?

[2019-12-24 23:09] Bazaid commented on #77
this might be what you looking for:
https://paw.cloud/docs/environments/environments-from-responses

[2019-12-25 04:00] ole3021 commented on #57
it `12.25`  🌲

Merry Christmas and please release Graphql with Paw

[2019-12-31 08:36] CharlieBreval commented on #57
It s `12.31` 🙄
Time for a surprise

[2019-12-31 10:26] eivindml commented on #57
You all are very entitled. It will be released when it's ready. No need to spam this issue with the same posts.

🙏🏼

[2019-12-31 16:28] zakiaziz commented on #57
@eivindml Some of us paid for this software under the impression that this'd be released around a certain time frame. Entitled are the ones that didn't pay and are asking for updates.

[2020-01-01 14:06] ole3021 commented on #57
Promise should be promise, if it's delayed for some reason, I think there should have a reason and new release date announced, otherwise how I can trust what you say and the software as well. we "spam" this issue cause we have nowhere else can say it out and get the team's attention.  Sorry for the spam.

[2020-01-01 14:29] sayduck-daniel commented on #57
Is it ready?

[2020-01-19 23:45] gordonk commented on #57
OMG I'm dying here!

[2020-01-20 03:07] ole3021 commented on #57
Switched to Postman, sorry paw.

[2020-01-30 10:57] wiesson commented on #57
Any updates? :)

[2020-02-06 12:42] ukstv commented on #57
Well, it was prematurely for me to buy Paw, having no GraphQL support landed.

[2020-02-07 14:37] joeczucha commented on #68
Was this ever introduced? I found an [issue from May '17](https://stackoverflow.com/questions/34731795/websocket-request-426-upgrade-required) saying that it might be on the way so just wanted to check... thanks!

[2020-02-13 01:18] bad884 commented on #57
This needs to be done.

[2020-02-18 14:39] eX-innovation commented on #57
Any updates? Can't wait any longer

[2020-02-18 14:42] eivindml-solvr commented on #57
Pretty sure they're not using this repo. The last issues where closed by the issue authors themselves, so no official activity here since 2018 or something.

<img width="1007" alt="Skjermbilde 2020-02-18 kl  15 41 01" src="https://user-images.githubusercontent.com/55379708/74746087-1ecac080-5265-11ea-9a82-3b99eef000a8.png">

[2020-02-28 09:17] dwamara opened #78 ""Socket closed by remote peer" when using http headers"
I created this bug on the Quarkus Github page https://github.com/quarkusio/quarkus/issues/7366 because I thought it was a problem with Quarkus but I was able to reproduce this problem with Payara Micro too.
Is there a problem with Paw sending headers?

[2020-03-05 17:42] zakiaziz commented on #57
Hey guys, I don't think we'll be seeing anything for another 3 or so months:

![Screen Shot 2020-03-05 at 12 36 47 PM](https://user-images.githubusercontent.com/940281/76009104-a871c380-5ede-11ea-9b34-b9a831af392c.png)

[2020-03-20 16:23] oshalygin commented on #57
Anyone have a nice workaround or extension that can get us most of the way there?  I tried importing a HAR and while it "works", wondering if folks are coming up with better solutions.

Please do not recommend Postman, thats a non-starter.

[2020-03-25 16:25] chasdevs commented on #43
I'm seeing this issue in 3.1.10, fwiw

[2020-03-27 02:52] andrewbellucci commented on #57
I don't mind the wait, it's been a long time in the making, but it will be worth it in the end!

[2020-04-02 16:55] cpansky commented on #77
I have a similar issue.  The thing with the environments from responses is that I haven't found a way to update an *existing* variable from multiple responses.  I can copy the dynamic response value... but there is no way to say I want to update it in a further response.  My closest workaround has been to have a response_value1, and then on the endpoint that would update it have response_value2 an

[2020-04-20 19:21] jdecarlo commented on #57
you can use Paw to query graphql just using raw _Test_ or _JSON_ as long as you don't put newlines in the query value.

For example,

{
   "query" : "query { users { name address { street city state } }}"
}

It's a pain and not as pretty as Postman's implementation, but it works.

Paw - need to get on this!  Postman and other competitors are out pacing you!

[2020-04-21 16:56] natesilva commented on #57
I’d really like to see something more like Insomnia than Postman. I can see docs, errors are highlighted, schemas don’t need to be imported.

I’m glad to hear they’re working on this. Nothing else is as good as Paw.

[2020-04-25 13:12] #52 closed

[2020-04-28 16:28] #78 closed

[2020-04-28 16:29] dwamara commented on #78
This issue only relates to older versions of Paw it seems. I downloaded and used the last one and I couldn't reproduce it.

[2020-04-30 15:40] Vercoutere commented on #40
Another upvote here. This has been bugging me a lot!

[2020-05-05 10:25] ryancrunchi commented on #43
Hi, I also have this problem with paw 3.1.10
`GET http://localhost:9000/` throw an error "Socket closed by remote peer".
but `curl "http://localhost:9000/"` works fine in terminal

[2020-05-18 09:48] torcelly commented on #57
Any news? I need GraphQL support guys. Thanks

[2020-05-19 09:13] donbeave commented on #57
Agree, Insomnia implementation is much better.

[2020-06-11 05:16] tylucaskelley commented on #57
Any update on this?

[2020-06-22 23:52] zakiaziz commented on #57
hold on boys, it's gonna be a while longer
<img width="1037" alt="Screen Shot 2020-06-22 at 7 51 08 PM" src="https://user-images.githubusercontent.com/940281/85345907-cf6df880-b4c1-11ea-8a18-69848b38e945.png">

[2020-06-25 14:53] zakiaziz commented on #57
When asked about a rough timeline:
<img width="512" alt="Screen Shot 2020-06-25 at 10 53 30 AM" src="https://user-images.githubusercontent.com/940281/85743542-1cc0b480-b6d2-11ea-8702-82b79360f623.png">

[2020-07-03 07:01] DamianLion commented on #57
I mean at least there are responsive

[2020-07-18 14:52] tomjmul opened #79 "Feature Request: Response view/export extension point"
Something that would be really useful would be the ability to create custom response view extensions. We have some very complex response payloads and it can be a real drag to trawl through them looking for the relevant information.

I'm thinking an extension point that gets added to the response view drop-down menu and when selected, Paw hands off the response and then renders a returned string or

[2020-07-23 10:02] b4lk0n opened #80 "gRPC"
It would be nice if Paw could support gRPC requests

[2020-09-02 22:34] bukhalo commented on #57
http://blog.paw.cloud/stay-updated-beta/

[2020-09-02 22:36] zakiaziz commented on #57
Will this update also be available in setapp?

[2020-09-02 22:54] natesilva commented on #57
This is great news! It’s been years since I paid for my license (besides SetApp, but I can’t imagine you make much from that). Will happily pay for an upgrade if the GraphQL functionality is good.

[2020-09-22 16:22] ErikBooij opened #81 "Plain text project config"
Currently saving the project file in Paw yields a binary file. In our organization, we tend to commit the Paw project file into source control, as an easy way of discovering the API and in the process of reviewing a PR, the changes to the Paw file cannot be reviewed. It would be great if this file could be plaintext (JSON/XML/proprietary), so the change would be more visible.

[2020-09-28 21:12] amomchilov commented on #57
HYPE

<img width="838" alt="image" src="https://user-images.githubusercontent.com/5703449/94486573-9d99bb80-01ad-11eb-8417-51d3a14bd2fa.png">

[2020-10-05 13:38] jk commented on #68
Any news on websocket support?

[2020-10-07 19:21] pbojinov commented on #57
Can anyone share the Paw 3.2 Beta link referenced above?

[2020-10-07 22:40] sgleadow commented on #57
@pbojinov I think you can get it from this page? https://blog.paw.cloud/paw-2-1-public-beta/

So far I'm liking it.

[2020-10-15 16:29] nboukeffa commented on #57
I think this issue can be closed since Paw 3.2 has been released for everyone 🎉🎊🥳

https://blog.paw.cloud/paw-3-2-graphql-macos-big-sur/

[2020-10-19 10:32] mittalyashu commented on #57
When will Paw 3.2 be released on Setapp?

[2020-10-21 05:05] mittalyashu commented on #57
Paw 3.2 is still not available via Setapp, showing older version.

![CleanShot 2020-10-21 at 10 34 50@2x](https://user-images.githubusercontent.com/29014463/96675686-12b17880-1389-11eb-88c8-2ec3702c9405.png)

[2020-10-21 05:08] wiesson commented on #57
Do you mind opening a new ticket for this? This issue is about graphql not Setapp issues! 🙏🏻

[2020-10-21 06:09] mittalyashu opened #82 "Paw 3.2 not available on Setapp"
Paw 3.2 is still not available via Setapp, showing older version.

![CleanShot 2020-10-21 at 10 34 50@2x](https://user-images.githubusercontent.com/29014463/96675686-12b17880-1389-11eb-88c8-2ec3702c9405.png)

[2020-10-21 16:39] zakiaziz commented on #57
Should be coming to setapp sometime this week according to Piotr:

[2020-10-21 19:01] zakiaziz commented on #82
Should be coming to setapp this week: https://github.com/luckymarmot/Paw-Issues/issues/57#issuecomment-713706149

[2020-10-22 03:11] mittalyashu commented on #82
Why the release date is out of sync, on the official site, the newer version is available for download but no update on Setapp

[2020-10-23 16:36] lenovouser commented on #54
This is something that is kind of essential to me and my team as well :/

[2020-10-24 08:17] mittalyashu opened #83 "[bug] "Share The Love" & "Stay updated" merged on welcome screen"
After subscribing to updates on the welcome screen, both the section are merged.

![CleanShot 2020-10-24 at 12 58 08@2x](https://user-images.githubusercontent.com/29014463/97077022-7349eb00-15ff-11eb-82d8-3563fa5b3346.png)

[2020-10-26 05:37] JanC commented on #82
hi,
I was looking forward to having the GraphQL support but now I see it's still not released on Setapp. Any update on this?

[2020-10-26 08:39] mittalyashu opened #84 "[feature_request] Rearrange JSON keys"
Option to re-arrange, for example, move `emailAddress` to top.

<img width="114" alt="CleanShot 2020-10-26 at 14 08 03@2x" src="https://user-images.githubusercontent.com/29014463/97150861-c1dcbe00-1794-11eb-9b0a-f798485df0a5.png">

[2020-10-26 09:56] mittalyashu commented on #82
Got a reply from support team.

[2020-10-27 03:18] mittalyashu commented on #82
Paw 3.2 has been released.

![CleanShot 2020-10-27 at 08 48 16@2x](https://user-images.githubusercontent.com/29014463/97252931-2ea59600-1831-11eb-9764-140e95ca7294.png)

[2020-10-27 03:18] #82 closed

[2020-10-27 07:59] mittalyashu opened #85 "[feature_request] API Response visualizer"
**Reference**

<img width="890" alt="CleanShot 2020-10-27 at 13 27 01@2x" src="https://user-images.githubusercontent.com/29014463/97272688-493f3580-1858-11eb-96fd-40944822fc5d.png">

_NOTE: The above screenshot is take from Postman_

[2020-10-27 08:13] mittalyashu commented on #72
@klh GraphQL feature has already been released, you can close this issue.

[2020-10-27 08:13] mittalyashu opened #86 "[feature request] drag variables into another groups"
![CleanShot 2020-10-27 at 13 42 28](https://user-images.githubusercontent.com/29014463/97274255-67a63080-185a-11eb-9c9e-9a8cd80c5266.gif)

[2020-10-27 14:46] mittalyashu opened #87 "[feature request] Inject value to url paramater"
NOTE: It's url parameter `http://example.com/post/:postId`, not url query `http://example.com/post?postId=123`

Add the option to inject dynamic value to url params _(i am not talking about environment variable)_

<img width="294" alt="CleanShot 2020-10-27 at 20 06 47@2x" src="https://user-images.githubusercontent.com/29014463/97316866-3a747500-1890-11eb-9c05-4d3f4c3e8a65.png">

Just like we add d

[2020-10-28 06:31] mittalyashu opened #88 "[feature request] Default response preview (if available)"
Option to set the default preview as JSON text for response (if available)

<img width="261" alt="CleanShot 2020-10-28 at 12 01 11@2x" src="https://user-images.githubusercontent.com/29014463/97400563-5706c080-1915-11eb-9f7c-4838553b537e.png">

[2020-10-28 10:51] mittalyashu opened #89 "[feature request] detach or full-screen docs tab (graphql)"
The docs can be helpful for testing APIs. Add the option to view it in full screen or in detach mode.

<img width="585" alt="CleanShot 2020-10-28 at 16 19 15@2x" src="https://user-images.githubusercontent.com/29014463/97426491-8cbda080-1939-11eb-8477-847924b7230d.png">

_(I already know we can expand that area by dragging the handlers)_

[2020-10-28 12:05] mittalyashu opened #90 "[feature request] Request type for GraphQL"
Just like we see the method in REST API

<img width="142" alt="CleanShot 2020-10-28 at 17 33 36@2x" src="https://user-images.githubusercontent.com/29014463/97433650-da3f0b00-1943-11eb-8e1f-0ff7222b0e01.png">

It would be helpful to see something similar for GraphQL like query, mutation, subscription.

[2020-10-30 03:37] harrytran998 opened #91 "[Feature Request] Add Files on Mutation GraphQL like upload avatar or file pdf"
Because Paw dont have this feature, our team must switch another Client API `Altair GraphlQL Client`. Hope your team work for this!
![image](https://user-images.githubusercontent.com/24296018/97657219-e50cb380-1a9b-11eb-836d-17998daccc50.png)

[2020-10-30 11:02] tipok opened #92 "GraphQL introspection call fails"
I'm currently using version 3.2 of Paw. I love the new GraphQL capabilities, but there is one thing not working in my scenario:

While the introspection call is sent headers defined for the GraphQL endpoint seem not be sent as well. Because of that the call fails.

[2020-10-31 07:25] mittalyashu opened #93 "[bug] mac buttons overlapping the app on existing full-screen"
<img width="178" alt="CleanShot 2020-10-31 at 12 52 57@2x" src="https://user-images.githubusercontent.com/29014463/97773713-1bb7fc00-1b78-11eb-9fe7-61dca7c621a1.png">

**Steps to reproduce the error**

1. Open app in full screen
2. Press escape

Version 3.2

[2020-11-01 07:59] mittalyashu opened #94 "[bug] Auto-suggestion in graphql doesn't work instantly on creating new request"
I am not sure how to describe this issue properly, if you have any questions you can ask me.

![CleanShot 2020-11-01 at 13 27 12](https://user-images.githubusercontent.com/29014463/97797830-3a84c400-1c46-11eb-9e5f-b8c09c00e1b6.gif)

[2020-11-06 04:30] mittalyashu opened #95 "[feature request] Expand string json data type for easy editing the data"
<img width="549" alt="CleanShot 2020-11-06 at 09 57 58@2x" src="https://user-images.githubusercontent.com/29014463/98326226-bf8d2600-2016-11eb-8de6-ba56c254be3b.png">

Option to expand the string field for easily editing long string like `token`.

[2020-11-15 22:00] klh commented on #72
awesome thanks

[2020-11-15 22:00] #72 closed

[2020-11-19 18:08] sscotth commented on #57
Enjoying it so far. Some low hanging fruit features would be a commenting shortcut `⌘ + /` and format/prettify.

[2020-11-19 18:44] natesilva commented on #57
I believe someone also mentioned there should be a prettify/format feature. I too had a hard time finding that feature. It’s located under Edit > Pretty-print Text (shortcut <kbd>Ctrl</kbd>-<kbd>I</kbd>).

[2020-11-19 18:50] sscotth commented on #57
Yep, it's a bit hidden, would be nice if there was a quick access button.

[2020-11-19 18:53] wiesson opened #96 "Apple Silicon Version"
Paw runs quite smooth on Intel emulation, but it would be nice if we see a m1/silicon version soon! 🙌

[2020-11-25 17:11] mjohnson12 commented on #90
Does Paw even support subscriptions?

[2020-11-25 17:18] mittalyashu commented on #90
@mjohnson12 I haven't tried using Subscription in Paw, since its a part of GraphQL spec, it must be natively supported inside the app too.

[2020-11-25 17:26] mjohnson12 commented on #90
I don't think so since subscriptions uses Websockets.

[2020-11-26 10:57] kazhuravlev commented on #68
+1

[2020-12-04 10:16] sebastiansson commented on #91
This would be awesome!

[2020-12-07 03:23] mittalyashu opened #97 "Move "file" to data types in JSON body"
Add "file" data type in JSON body

<img width="120" alt="CleanShot 2020-12-07 at 08 51 30@2x" src="https://user-images.githubusercontent.com/29014463/101305799-71638080-3869-11eb-906c-7abf91df5397.png">

Move the file type in above selection area for easy viability.

![CleanShot 2020-12-07 at 08 51 57@2x](https://user-images.githubusercontent.com/29014463/101305882-9bb53e00-3869-11eb-85e9-6a399b40

[2020-12-11 03:40] mittalyashu opened #98 "[feature request] Suggest graphql enum values in variables section"
<img width="155" alt="CleanShot 2020-12-11 at 09 09 45@2x" src="https://user-images.githubusercontent.com/29014463/101858933-a258f380-3b90-11eb-853f-cc993ed61a1b.png">

[2020-12-12 09:44] micha149 opened #99 "Endless loop on 401 with OAuth2"
Hey there.

We are using OAuth2 authentication with the „Resource Owner password credentials” grant and the „Automatically get or refresh token” option enabled.

![Bildschirmfoto 2020-12-12 um 10 39 32](https://user-images.githubusercontent.com/298880/101980526-55dfe780-3c66-11eb-9ce8-944c6ddecb19.png)

When a request to an API endpoint is answered with code 401, paw loads a new access token from

[2020-12-12 16:48] mittalyashu opened #100 "[feature request] Option to define enumerate values"
Instead of typing a different values in the variable section just to test the APIs can be bit trouble some.
So, having few enumerated values defined can save a lot of time.

**For example**

[code]

[2020-12-12 16:50] mittalyashu commented on #74
Or maybe sync to a GitHub gist/repository

[2020-12-13 23:14] rickmark opened #101 "Feature Request: Negotiate / Kerberos authentication types"
From my understanding, this is hard/impossible to implement with the current API surface for extensions.

PAW would become an even better tool if you could support NTLM negotiated authentication mechanisms, even more so if Kerberos (perhaps with an explicit ticket being sourced elsewhere, or maybe just from macOS's `klist` by default)

[2020-12-13 23:16] rickmark opened #102 "Feature Request: XML / SOAP request body and response"
There is a custom JSON modeler for the request, but nothing that works really great for creating a SOAP request.

This would open Paw up to things like WSMan and the multitude of other non-REST HTTP services.

[2020-12-13 23:18] rickmark opened #103 "Feature Request: Custom Paw CA/Certificates (not using Keychain.app)"
Often engineers doing the testing of a web-service will want to use self-signed certificates.

It would be beneficial if Paw could manage TLS certificate trust for a CA without it having to be introduced as a new trusted root on the computer of the engineer (which exposes surface area as these certificates are usually not as secure as a true CA would be)

[2020-12-13 23:24] rickmark commented on #101
To clarify the lacking API surface, there is no concept of an ephemeral request (so that multiple negotiate request/responses can be created to setup the authentication content)

[2020-12-30 18:04] navaru commented on #68
Meanwhile use: https://websocketking.com

[2021-01-04 16:23] KuhlTime commented on #68
Not inside Paw either but at least sponsored by Paw [https://hoppscotch.io](https://hoppscotch.io) 🤷‍♂️

[2021-01-07 22:43] marcfielding1 commented on #68
Err, you do realize that there are people asking a question here that BUY a Paw license and would hope for some kind of response?

[2021-01-16 16:21] nunogoncalves commented on #48
@rebers how do you achieve that?

[2021-01-16 16:23] nunogoncalves commented on #100
Yes please! I searched for this multiple times. :)

[2021-01-17 15:34] nunogoncalves opened #104 "Extra linefeed character on dynamic values using `jq`"
Hello,
It appears linefeed characters (`%0A`) are being added to values resulting from `jq` dynamic values.

They are somehow escaped from headers values (we can see warnings of that situation) but are not from URL Params which makes them useless to work with.

I tried removing them with regex but they keep appearing.

<img width="662" alt="image" src="https://user-images.githubusercontent.com/300

[2021-01-17 15:39] nunogoncalves commented on #99
Are you using 3.2? I found that 3.1 works, but 3.2 doesn't. So I actually had to settle on this. I also raised the issue on twitter but no answer until now.

https://twitter.com/goncalvescmnuno/status/1350066090425114626?s=20

[2021-01-18 07:42] nunogoncalves commented on #104
I can close this issue. Turns out it's a bug on a plugin.

[2021-01-18 07:42] #104 closed

[2021-01-19 21:26] nunogoncalves commented on #87
You can create a request variable for that. Or I didn't understand correctly what you want. :)

[2021-01-19 21:27] nunogoncalves commented on #86
Just today I was cleaning up a project. This would have been very helpful.

[2021-01-26 09:23] lkeijmel commented on #99
I can confirm the same thing on 3.2. The only solution so far was downgrading back to 3.1

[2021-01-29 10:50] lkeijmel commented on #99
I've mentioned it to support and got a reaction:

[2021-02-09 19:11] sgrayrw opened #105 "Editing raw request"
Hi, I was wondering if there's a way I can edit the raw request in the preview window or anywhere else? Thanks!

[2021-02-11 12:54] micha149 commented on #99
Fixed in  3.2.1

[2021-02-11 12:54] #99 closed

[2021-02-19 18:26] marcoreni opened #106 "Feature Request: select operation in GraphQL"
When using a single GraphQL containing multiple queries, it's not possible to select the operationName to execute.

The POSTed body would be something like:
[code]

[2021-02-19 18:28] marcoreni commented on #28
Has this ever been implemented?

[2021-02-22 10:30] maxbbn opened #107 "Unable to use timestamp token with json number filed"
<img width="639" alt="截屏2021-02-22 下午6 29 43" src="https://user-images.githubusercontent.com/329506/108696008-f04c8900-753b-11eb-87fb-bd7ddfe22286.png">

[2021-03-01 06:42] Jiachen-Zhang commented on #80
It would be nice if Paw could support gRPC requests

[2021-03-01 06:42] Jiachen-Zhang commented on #80
Then which tool are U using for debugging grpc api

[2021-03-01 07:52] b4lk0n commented on #80
BloomRPC and insomnia is going to release support of multiple proto files

[2021-03-06 11:53] Jiachen-Zhang commented on #80
Well, BloomRPC had supported multiple proto files and it works well for gRPC stream and headers.

I summarized the basic usage and some easy mistakes [here](https://www.zhangjc.site/grpc_api_debug_tool_bloomrpc/)

[2021-03-08 22:24] nunogoncalves commented on #73
I think this is now done!

[2021-03-17 12:04] kevcam4891 opened #108 "GraphQL: Support raw JSON entry for request variable panel"
GREAT to see PAW finally support GraphQL. It's nice to get back to using this software!

Using the variable entry UI (while nice for beginners) is a mouse heavy operation.  I'd like to just paste my request variables into the lower panel instead of having to type them in one-by-one. Is there anything on the roadmap that will support this? It should function just like the panel above it where you'r

[2021-03-17 12:05] kevcam4891 commented on #108
By the way - only a few minutes into using the GraphQL capabilities, and its so nice! Autocomplete, etc! Wow. Just give me a raw JSON entry panel and we're golden ;)

[2021-03-21 15:21] angel-urena opened #109 "Add ability to enable/disable all URL params"
In the `URL Params` tab of the request composer, it would be nice if there was an option to enable or disable them all at once since currently the only way to achieve this is by using the checkbox for each one individually.

[2021-05-05 17:59] TheDeadCode commented on #73
Doesn't seem to be. Nothing about windows on their website ?

[2021-05-06 06:57] nunogoncalves commented on #73
Huh… 🤔 I only saw what was written [here](https://blog.paw.cloud/paw-joins-forces-with-rapidapi/).

[2021-05-07 12:38] mittsh commented on #73
Hey guys! @nunogoncalves @TheDeadCode @Croverit
Yes, we've released Paw for Windows in beta, it's available here: https://paw.app/download
Please feel free to send any feedback our way, ideally at https://paw.cloud/support

[2021-05-18 09:41] sharukh967 commented on #57
Is there a way to populate all the fields of an object?
Altair GraphQL client and Insomnia have this feature.

[2021-05-19 20:58] mludi commented on #77
Hey, is there something new about this? I'm looking for the same :-)

[2021-06-16 09:10] ushu commented on #40
By far one of the most limiting feature imo... I love the rest of the app please please fix this issue 🙏🙏🙏

[2021-07-06 19:22] franzwarning commented on #91
bump

[2021-07-23 09:20] Urbanproof commented on #61
Any updates on this? 🤞
Either way, +1.

[2021-10-19 13:58] mech commented on #92
Is fixed recently via version 3.3.1

[2021-10-20 08:36] #92 closed

[2021-10-27 09:09] vec715 commented on #68
any updates?

[2021-11-04 10:41] phifa commented on #54
we cannot move from postman to paw, without this being implemented. any updates?

[2021-11-15 18:24] blevasseur-godaddy commented on #68
I'm curious if there's been any traction on this?

[2021-11-15 23:18] marcfielding1 commented on #68
use Postman, I removed my subscription for PAW because I'm not paying for a product that is quite clearly not supported properly - PAW WAS awesome in my book, but it's not the winner - also this is not a complicated feature, I don't quite understand why it's hard work engaging on it.

I mean common this was nearly a year ago?!

[2021-11-15 23:23] marcfielding1 commented on #68
It should be noted that this repo is being closed and there is a link on Readme for raising tickets though, so it might better to migrate our requests to here as this repo might not even be observed any more. Here is the link from the readme.

https://paw.cloud/support?app=com.luckymarmot.Paw

[2021-11-16 00:36] alobaili commented on #68
That's not an excuse for the team not addressing the request and the many votes casted on it. I think giving an official statement on how existing issues will be handled before closing and abandoning the repo is the appropriate action.

[2021-11-16 01:37] marcfielding1 commented on #68
Whilst I do agree, during transition periods between orgs, things can get lost, now being annoyed is not going to change the facts, finding a solution will.

[2021-11-16 01:39] marcfielding1 commented on #68
We can troll this thread all year, not gonna make a difference, being angry only really changes your life - whilst we're entitled to feel aggrieved I don't believe the software owners want to lose subscribers, I believe they made a mistake, as have we all, so let's figure this out.

[2021-11-16 01:42] marcfielding1 commented on #68
To be blunt, if we could make this ourselves we wouldn't be here, so you have two choices, don't be here. Or engage. I think I'll select engage given I hadn't noticed the change of ownership.

[2021-12-25 18:38] isaozler commented on #91
actually you can, use operations, map, and the file with incremental part name as multipart/form-data request

this is how we use it...

![image](https://user-images.githubusercontent.com/1378630/147391463-d7d0ed79-2c48-4ac5-a9da-e3e079460da8.png)

`--__X_PAW_BOUNDARY__
Content-Disposition: form-data; name="operations"

{"operationName":"createPost","variables":{"topic":"Topic","images":[{"image":

[2021-12-29 15:11] #91 closed

[2022-01-22 15:44] henning-meinhardt commented on #40
workaround isn't an option, really disappointed

[2022-02-02 12:59] dewey commented on #80
Looks like Postman now supports grpc (https://blog.postman.com/postman-now-supports-grpc/). Any news on getting this supported in Paw?

[2022-03-18 20:50] rphuber commented on #80
Any update on this feature?

[2022-03-29 12:24] gaetansenn commented on #77
Yes same ! That would be great ! Tks

[2022-05-12 16:59] swehba commented on #40
This is a huge deficiency. Has it been fixed yet? This thread is now 7 years old!

[2022-08-18 18:12] ahathaway commented on #54
Would love to see this.

[2022-08-30 10:40] tfonfara commented on #80
Paw added support of gRPC with version 3.4.0 🥳
Source https://paw.cloud/updates/3.4.0

[2022-08-31 03:29] cxlblm commented on #54
Would love to see this.

[2022-09-16 14:41] dev4dev commented on #40
I just ran into this issue and was disappointed by this thread =(

[2022-10-14 08:05] trietsch commented on #80
Any docs on how it works? I haven't got any clue here. Does it support [server reflection](https://grpc.github.io/grpc/core/md_doc_server_reflection_tutorial.html)?

[2022-10-26 12:33] eivindml commented on #68
This would be a cool feature to include with Paw. 😊